body {
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 17px;
}

#home {
    background-color: rgb(105, 252, 164);
}

.centre {
    text-align: center;
}

div{
    font-size: 20px;
    font-weight: bold;
}

.image {
    height: auto;
    width: 400px;
}